// Import de Bootstrap depuis node_modules
@import "node_modules/bootstrap/scss/bootstrap";


// Définition des variables pour les modes clair et sombre
$background-color-light: #ffffff;
$text-color-dark: #656565;
$background-color-dark: #656565;
$text-color-light: #ffffff;

// Styles pour le mode clair
body {
    background-color: $background-color-light;
    color: $text-color-dark;
}

// Styles pour le mode sombre
body.dark-mode {
    background-color: $background-color-dark;
    color: $text-color-light;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
}

nav.dark-mode {
        background-color: $background-color-dark;
        color: $text-color-light;
    }


footer.dark-mode {
        background-color: $background-color-dark;
        color: $text-color-light;
    }
